:root {
    --color_principal: rgb(0, 191, 64);
    --gris_oscuro:rgb(38, 38, 38);
    --gris_principal: rgb(230, 230, 230);
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Phudu', cursive;
    font-family: 'Prompt', sans-serif;
}

body{
    background-color: var(--gris_principal);
}

header {
    top: 0;
    position: sticky;
    z-index: 100;
}

.barra {
    background-color: var(--gris_principal);
}

.lista_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista_nav li {
    margin-bottom: 5px;
}

.lista_nav li a {
    margin-right: 30px;
    padding: 10px 25px;
    border: unset;
    border-radius: 10px;
    color: #262626;
    z-index: 1;
    background: var(--gris_principal);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 0.5s;
    overflow: hidden;
   }
   
   .lista_nav li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: var(--gris_oscuro);
    z-index: -1;
    transition: all 0.5s;
   }
   
   .lista_nav li a:hover {
    color: var(--gris_principal);
   }
   
   .lista_nav li a:hover::before {
    width: 100%;
   }

   

@media (min-width:992px) {
    .div_ul {
        position: absolute;
        right: 10%;
    }
}

/*FIN DE HEADER*/


/*SECCION CARRUSEL*/
.carousel-item img {
    filter: blur(1.4px);
    height: 89vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.tittle {
    font-size: 50px;
    color: var(--gris_principal);
    font-weight: bolder;
}

.text_tittle{letter-spacing: 4px;
    font-size: 30px;
    color: var(--gris_principal);
}
/*FIN DE SECCION CARRUSEL*/



/*SECCION H1 Y BARRA DE LOGOS*/

.div_tittle{
    background-color: var(--gris_oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--gris_principal);
}

h1{
    margin: 30px 0px;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
    border-bottom: 3px solid rgb(0, 191, 64);
}

.p_tittle{
    font-size: 25px;
    letter-spacing: 5px;
    line-height: 40px;
    text-align: center;
    margin: 20px 10rem;
    margin-bottom: 90px;
}

.space{
    height: 165px;
    background-image: url(../assets/img/linea.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.space2{
    height: 200px;
    background-image: url(../assets/img/linea2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_logo{
    width: 100%;
}

.container_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.logo_barra{
    height: 200px;
    margin: 30px 0px;
}

.span_logo_barra{
    color: black;
    text-decoration: none;
    position: relative;
    font-weight: 900;
    height: 40px;
    padding: 12px 20px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
  }
  
  .span_logo_barra:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 7px;
    left: 7px;
    height: 100%;
    background-color: var(--color_principal);
    z-index: -1;
    transition: all 0.35s;
    border-radius: inherit;
  }
  
  .span_logo_barra:hover:after {
    top: 0px;
    left: 0px;
  }
  


  /*ZONA DE TRABAJOS*/

  .section_trabajos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #optimizacion{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
-moz-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/optimizacion_trabajo.jpg");
    width: 80vw;
    border-radius: 10px;
    margin: 10px 0px;
    height: 600px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  #cm{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
-moz-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/redes_trabajo.jpg");
    width: 80vw;
    border-radius: 10px;
    margin: 10px 0px;
    height: 600px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  #diseño{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
-moz-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/design_trabajo.jpg");
    width: 80vw;
    border-radius: 10px;
    margin: 10px 0px;
    height: 600px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  #seo{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
-moz-box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
box-shadow: 0px 0px 16px 0px rgba(39,39,39,1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/seo_trabajo.jpg");
    width: 80vw;
    border-radius: 10px;
    margin: 10px 0px;
    height: 600px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  .texto_trabajo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--gris_principal);
  }

  .texto_trabajo h4{
    font-size: 50px;
    font-weight: bolder;
  }

  .texto_trabajo p{
    margin-top: 30px;
    width: 50%;
    font-size: 30px;
  }

  

/*MEDIAQUERY*/


@media (max-width:992px) {
    .carousel-item img {
        height: 65vh;
        object-fit: cover;
    }

    .carousel-caption {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tittle {
        font-size: 45px;
        font-weight: bolder;
    }
    
    .text_tittle{
        font-size: 27px;
    }
    .sector_img_trabajo{
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
      }
    
}

@media (max-width:650px) {
    .carousel-item img {
        height: 55vh;
        object-fit: cover;
    }
    .tittle {
        font-size: 40px;
        font-weight: bolder;
    }
    
    .text_tittle{
        font-size: 25px;
    }
    h1{
        margin: 20px 10px;
        font-size: 40px;
        letter-spacing: 1px;
    }
    .p_tittle{
        margin: 30px 2rem;
    }
    .space{
        height: 100px;
    }
    #optimizacion{
        height: 500px;
      }
    
      #cm{
        height: 500px;
      }
    
      #diseño{
        height: 500px;
      }
    
      #seo{
        height: 500px;
      }

      .texto_trabajo h4{
        font-size: 30px;
      }
      .texto_trabajo p{
        width: 90%;
        font-size: 22px;
        line-height: 30px;
      }

}

@media (max-width:450px) {
    .carousel-item img {
        height: 45vh;
        object-fit: cover;
    }
    .tittle {
        font-size: 35px;
        font-weight: bolder;
    }
    
    .text_tittle{
        font-size: 22px;
    }
    h1{
        margin-top: 50px;
        font-size: 25px;
        letter-spacing: 1px;
    }
    .p_tittle{
        margin: 30px 1rem;
        margin-bottom: 60px;
    }
}